/* Global */

:root{
    --dark:#212121;
    --primary:#fee71c;
    --secondary:#3584ce; 
}
html{
    font-size: 62.5%; /*100 = 16px*/
    box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;

    
}

body{
     font-family: 'Krub',sans-serif;
     background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
     min-height: 100%;
 }   

 p{
    line-height: 2;
    font-size: 1.6rem;
}

h1{
    font-size: 3rem;

}
 /* utilities */
 



/* menu */
 nav{
    max-width: 100%;
    padding: 1rem 0;
    margin: 0 auto;
    background-color: white;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
 }
 nav a{
     font-size: 2.2rem;
     text-decoration: none;
     margin-bottom: 2rem;
     color: var(--dark);    

 }
 nav a:hover{
      color: var(--dark);
      text-decoration: none;

 }

 nav a:last-of-type{
     margin-bottom: 0;
 }

 @media(min-width:768px){
    nav a{
        margin-bottom: 0;
    }

 }

 @media(min-width:768px){
     nav{
        flex-direction: row;
         justify-content: space-between;
     }
 }

 /* Hero Styles */

 .hero{
     height: 45rem;
    background-image: url(hero.jpg); 
    position: relative;

    display: flex;
    justify-content: center;
}


.hero::after{
    content: ' ';
    background-color: rgba(0,0,0,.7);
    display: block;
}

 .container-hero i{
     font-size: 3rem;
     color:var(--primary)

 }

 /* Table Sytles */
table{
    font-size: 1.8rem!important;

}

    /* button styles */
 
.btn{
    background-color: var(--secondary);
    text-decoration: none;
    font-size: 1.8rem;  
    font-weight: 700;
    padding: .8rem .5rem;
    border-radius: .5rem;
    color: white;
    text-transform: uppercase;
    display: inline-block;


}
 

